{% load static %}


  <!-- Во всех двойных фигурных скобках - передаем ключ из views.py и названия поля из models.py -->

   <div class="news-detail">

    <h1 class="news-title">{{ blog_id.name_blog }}</h1>

    <div class="news-media">
        <img src="{{ blog_id.image.url }}" alt="{{ blog_id.title }}">
    </div>

    <p class="news-description">{{ blog_id.description }}</p>
    <p class="news-category">Категория: {{ blog_id.type_blog }}</p>

    <data class="news-date">{{ blog_id.created_at }}</data>

</div>

<!-- Comments -->
<div class="comments">
  <h3 class="comments-title">Отзывы</h3>
  {% for i in news_id.review.all %}
  <ul>
    <li>
      <p class="rating">Оценка: 
        <span class="stars" aria-hidden="true">
          <span class="star filled">{{ i.marks }}</span>
        </span>
      </p>

      <p class="review">Отзыв: {{ i.text }}</p>

      <p class="date">Дата: {{ i.created_at }}</p>
    </li>

  </ul>
  {% endfor %}
</div>



