{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">

   <main class="news-container">
    <h1 class="news-title">Список пользователей</h1>

    <ul class="news-list">
        {% for i in user_list %}
        <li class="news-card">
            <img src="{{ i.photo.url }}" alt="" width="200" height="200">
            <h3 class="news-name">{{ i.username }}</h3>
            <h3 class="news-name">{{ i.first_name }}</h3>
            <h3 class="news-name">{{ i.city }}</h3>
            <h3 class="news-name">{{ i.gender }}</h3>
            <h3 class="news-name">{{ i.phone_number }}</h3>
            
        </li>
        {% endfor %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
        
    </ul>
</main>


{% include '../footer.html' %}

